body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

h1 {
    text-align: center;
    color: blue;
}

.input-section {
    display: flex;
    justify-content: space-between;
}

#new-task {
    width: 70%;
    padding: 10px;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
}

#add-task-button {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#add-task-button:hover {
    background: rgb(73, 70, 70);
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    background: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background: rgb(54, 52, 52);
    color: white;
}
